bases:
  - "../../bases/default.yaml.gotmpl"

repositories:
  - name: openproject
    url: https://charts.openproject.org

releases:
  - name: openproject-postgresql
    chart: ../common/charts/postgresql
    version: "16.7.18"
    {{- if .Values.application.openproject.namespace }}
    namespace: {{ .Values.application.openproject.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.openproject.enabled) (ne (.Values.database.default.provider | default "bitnami") "cnpg") | toYaml }}
    values:
      - "values-postgresql.yaml.gotmpl"

  - name: openproject-cluster-credentials
    chart: ../common/charts/cnpg-cluster-credentials
    {{- if .Values.application.openproject.namespace }}
    namespace: {{ .Values.application.openproject.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.openproject.enabled) (eq (.Values.database.default.provider | default "bitnami") "cnpg") | toYaml }}
    values:
      - "values-cnpg-cluster-credentials.yaml.gotmpl"

  - name: openproject-cluster
    chart: ../common/charts/cluster
    {{- if .Values.application.openproject.namespace }}
    namespace: {{ .Values.application.openproject.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.openproject.enabled) (eq (.Values.database.default.provider | default "bitnami") "cnpg") | toYaml }}
    needs:
      - {{ if .Values.application.openproject.namespace }}{{ .Values.application.openproject.namespace }}/{{ end }}openproject-cluster-credentials
    values:
      - "values-cnpg-cluster.yaml.gotmpl"

  - name: openproject-redis
    chart: ../common/charts/redis
    version: "21.2.6"
    {{- if .Values.application.openproject.namespace }}
    namespace: {{ .Values.application.openproject.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.openproject.enabled) | toYaml }}
    values:
      - "values-redis.yaml.gotmpl"

  - name: openproject-minio
    chart: ../common/charts/minio
    version: "17.0.11"
    {{- if .Values.application.openproject.namespace }}
    namespace: {{ .Values.application.openproject.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.openproject.enabled) | toYaml }}
    values:
      - "../common/values-cluster-ingress.yaml.gotmpl"
      - "values-minio.yaml.gotmpl"

  - name: openproject
    chart: openproject/openproject
    version: "13.7.0"
    condition: application.openproject.enabled
    {{- if .Values.application.openproject.namespace }}
    namespace: {{ .Values.application.openproject.namespace }}
    {{- end }}
    {{- if and (eq .Environment.Name "demo") ( .Values.application.openproject.enabled) }}
    needs:
      {{- if eq (.Values.database.default.provider | default "bitnami") "cnpg" }}
      - {{ if .Values.application.openproject.namespace }}{{ .Values.application.openproject.namespace }}/{{ end }}openproject-cluster
      {{- else }}
      - {{ if .Values.application.openproject.namespace }}{{ .Values.application.openproject.namespace }}/{{ end }}openproject-postgresql
      {{- end }}
      - {{ if .Values.application.openproject.namespace }}{{ .Values.application.openproject.namespace }}/{{ end }}openproject-redis
      - {{ if .Values.application.openproject.namespace }}{{ .Values.application.openproject.namespace }}/{{ end }}openproject-minio
    {{- end }}
    values:
      - "../common/values-cluster-ingress.yaml.gotmpl"
      - "values.yaml.gotmpl"

  - name: openproject-httproute
    chart: ../common/charts/httproute
    installed: {{ and .Values.application.openproject.enabled (eq .Values.cluster.routingMode "gateway-api") | toYaml }}
    {{- if .Values.application.openproject.namespace }}
    namespace: {{ .Values.application.openproject.namespace }}
    {{- end }}
    needs:
      - {{ if .Values.application.openproject.namespace }}{{ .Values.application.openproject.namespace }}/{{ end }}openproject
    values:
      - "../common/values-cluster-ingress.yaml.gotmpl"
      - "values-httproute.yaml.gotmpl"
