{{- $releaseId := now | unixEpoch }}
{{- $hostname := printf "%s.%s" .Values.global.hostname.docs .Values.global.domain }}
{{- $sslPostfix := ternary "s" "" (.Values.global.tls.enabled | default true) }}
{{- $baseUrl := printf "http%s://%s" $sslPostfix $hostname }}
{{- $redisUrl := printf "redis://default:%s@%s:%d/1" .Values.cache.docs.password .Values.cache.docs.host .Values.cache.docs.port -}}

global:
  security:
    allowInsecureImages: true

  {{- with (coalesce .Values.container.docs.imagePullSecret .Values.container.default.imagePullSecret) }}
  imagePullSecrets:
    - name: {{ . | quote }}
  {{- end }}

commonLabels:
  app.kubernetes.io/part-of: docs

clusterDomain: {{ .Values.cluster.networking.domain | default "cluster.local" | quote }}

backend:
  image:
    registry: {{(coalesce .Values.container.docs.registry .Values.container.default.registry) | quote }}
    repository: {{ .Values.container.docs.backend.repository | quote }}
    tag: {{ .Values.container.docs.backend.tag | quote }}
  replicaCount: 1
  resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.docs.backend .Values.global.resourcesPreset | quote }}
  resources: {{ .Values.resource.docs.backend | toYaml | nindent 4 }}
  podSecurityContext: {{ .Values.security.default.podSecurityContext | toYaml | nindent 4 }}
  containerSecurityContext: {{ .Values.security.default.containerSecurityContext | toYaml | nindent 4 }}
  runtimeClassName: {{ .Values.cluster.runtimeClassName | quote }}
  pdb: {{ .Values.pdb.docs.backend | toYaml | nindent 4 }}
  autoscaling:
    hpa: {{ .Values.autoscaling.horizontal.docs.backend | toYaml | nindent 6 }}
    vpa: {{ .Values.autoscaling.vertical.docs.backend | toYaml | nindent 6 }}
  networkPolicy:
    extraEgress:
      # Database connectivity
      - ports:
          - port: {{ .Values.database.docs.port }}
            protocol: TCP
        {{- if .Values.database.docs.isInternal }}
        to:
          - podSelector:
              matchLabels:
                {{- if eq (.Values.database.default.provider | default "bitnami") "cnpg" }}
                cnpg.io/cluster: docs-cluster
                role: primary
                {{- else }}
                app.kubernetes.io/name: postgresql
                app.kubernetes.io/component: primary
                {{- end }}
        {{- end }}
      # Redis connectivity
      - ports:
          - port: {{ .Values.cache.docs.port }}
            protocol: TCP
        {{- if .Values.cache.docs.isInternal }}
        to:
          - podSelector:
              matchLabels:
                app.kubernetes.io/name: redis
                app.kubernetes.io/component: master
        {{- end }}
      # MinIO connectivity
      - ports:
          - port: {{ .Values.objectstore.docs.port }}
            protocol: TCP
        {{- if .Values.objectstore.docs.isInternal }}
        to:
          - podSelector:
              matchLabels:
                app.kubernetes.io/name: minio
        {{- end }}
      {{- if .Values.ai.llm.endpoint.isInternal }}
      # AI connectivity
      - ports:
          - port: {{ .Values.ai.llm.endpoint.port }}
            protocol: TCP
        to:
          - podSelector:
              matchLabels:
                app.kubernetes.io/name: ollama
      {{- end }}
      # Docspec connectivity
      - ports:
          - port: 4000
            protocol: TCP
        to:
          - podSelector:
              matchLabels:
                app.kubernetes.io/name: docs-docspec
      # Allow https egress for keycloak connection and external AI
      - ports:
          - port: 443
      # Allow http egress for yProvider connection
      - ports:
          - port: 4444
  jobs:
    releaseSuffix: {{ $releaseId | quote }}
  migrateDbCredentials:
    DB_USER: "postgres"
    DB_PASSWORD: {{ .Values.database.docs.adminpassword | quote }}
  envVars:
    AWS_S3_ENDPOINT_URL: {{ printf "http%s://%s:%d" (ternary "s" "" .Values.objectstore.docs.useSSL) .Values.objectstore.docs.endpoint .Values.objectstore.docs.port | quote }}
    AWS_S3_ACCESS_KEY_ID: {{ .Values.objectstore.docs.username | quote }}
    AWS_S3_SECRET_ACCESS_KEY: {{ .Values.objectstore.docs.rootPassword | quote }}
    AWS_STORAGE_BUCKET_NAME: {{ .Values.objectstore.docs.bucket | quote }}
    AI_FEATURE_ENABLED: {{ not (empty .Values.ai.llm.model) | quote }}
    {{- if .Values.ai.llm.endpoint.host }}
    AI_ALLOW_REACH_FROM: "authenticated"
    AI_API_KEY: {{ .Values.ai.llm.apiKey | quote }}
    AI_BASE_URL: {{ printf "http%s://%s:%d/%s" (ternary "s" "" .Values.ai.llm.endpoint.isSsl) .Values.ai.llm.endpoint.host .Values.ai.llm.endpoint.port .Values.ai.llm.endpoint.path }}
    AI_MODEL: {{ .Values.ai.llm.model | quote }}
    {{- end }}
    API_USERS_LIST_LIMIT: "5"
    API_USERS_LIST_THROTTLE_RATE_BURST: "30/minute"
    API_USERS_LIST_THROTTLE_RATE_SUSTAINED: "180/hour"
    CACHES_DEFAULT_TIMEOUT: "30"
    COLLABORATION_API_URL: {{ printf "http%s://%s%s" $sslPostfix $hostname "/collaboration/api/" | quote }}
    COLLABORATION_SERVER_SECRET: {{ .Values.application.docs.collaboration.secret | quote }}
    COLLABORATION_WS_URL: {{ printf "ws%s://%s%s" $sslPostfix $hostname "/collaboration/ws/" | quote }}
    COLLABORATION_WS_NOT_CONNECTED_READY_ONLY: "true"
    CONVERSION_API_CONTENT_FIELD: "content"
    CONVERSION_API_ENDPOINT: "convert"
    CONVERSION_API_SECURE: "false"
    DOCSPEC_API_URL: http://docs-docspec:4000/conversion
    CRISP_WEBSITE_ID: ""
    DOCUMENT_IMAGE_MAX_SIZE: "10485760"
    FRONTEND_CSS_URL: "https://static-{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}/iframe-hide.css"
    FRONTEND_JS_URL: "https://static-{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}/bureaublad-button.js"
    FRONTEND_HOMEPAGE_FEATURE_ENABLED: "false"
    FRONTEND_THEME: ""
    DB_ENGINE: {{ .Values.database.docs.engine | quote}}
    DB_HOST: {{ .Values.database.docs.host | quote }}
    DB_PORT: {{ .Values.database.docs.port | quote }}
    DB_NAME: {{ .Values.database.docs.name | quote }}
    DB_USER: {{ .Values.database.docs.user | quote }}
    DB_PASSWORD: {{ .Values.database.docs.password | quote }}
    DJANGO_ALLOWED_HOSTS: {{ $hostname | quote }}
    DJANGO_CELERY_BROKER_URL: {{ $redisUrl | quote }}
    DJANGO_CELERY_BROKER_TRANSPORT_OPTIONS: ""
    DJANGO_CORS_ALLOW_ALL_ORIGINS: "false"
    DJANGO_CORS_ALLOWED_ORIGIN_REGEXES: ""
    DJANGO_CORS_ALLOWED_ORIGINS: {{ $baseUrl | quote }}
    DJANGO_CSRF_TRUSTED_ORIGINS: {{ $baseUrl | quote }}
    DJANGO_CONFIGURATION: "Production"
    DJANGO_EMAIL_BACKEND: "django.core.mail.backends.smtp.EmailBackend"
    DJANGO_EMAIL_BRAND_NAME: {{ .Values.smtp.from.name | quote }}
    DJANGO_EMAIL_FROM: {{ .Values.smtp.from.email | quote }}
    DJANGO_EMAIL_HOST: {{ .Values.smtp.host | quote }}
    DJANGO_EMAIL_HOST_PASSWORD: {{ .Values.smtp.password | quote }}
    DJANGO_EMAIL_HOST_USER: {{ .Values.smtp.username | quote }}
    DJANGO_EMAIL_LOGO_IMG: {{ .Values.smtp.from.logoImage | quote }}
    DJANGO_EMAIL_PORT: {{ .Values.smtp.port | quote }}
    DJANGO_EMAIL_USE_SSL: "false"
    DJANGO_EMAIL_USE_TLS: {{ .Values.smtp.tls.enabled | quote }}
    DJANGO_SERVER_TO_SERVER_API_TOKENS: "secret-api-key"
    DJANGO_SECRET_KEY: {{ .Values.application.docs.backend.django.secretKey | quote }}
    DJANGO_SETTINGS_MODULE: "impress.settings"
    DJANGO_SUPERUSER_EMAIL: {{ .Values.secret.docs.superUser.email | quote }}
    DJANGO_SUPERUSER_PASSWORD: {{ .Values.secret.docs.superUser.password | quote }}
    LANGUAGE_CODE: {{ .Values.global.defaultLocale | default "nl" | quote }}
    LOGGING_LEVEL_HANDLERS_CONSOLE: "ERROR"
    LOGGING_LEVEL_LOGGERS_APP: "INFO"
    LOGGING_LEVEL_LOGGERS_ROOT: "INFO"
    LOGIN_REDIRECT_URL: {{ $baseUrl | quote }}
    LOGIN_REDIRECT_URL_FAILURE: {{ $baseUrl | quote }}
    LOGOUT_REDIRECT_URL: {{ $baseUrl | quote }}
    MALWARE_DETECTION_BACKEND: "lasuite.malware_detection.backends.dummy.DummyBackend"
    MALWARE_DETECTION_PARAMETERS: '{"callback_path": "core.malware_detection.malware_detection_callback",}'
    MEDIA_BASE_URL: {{ $baseUrl | quote }}
    NO_WEBSOCKET_CACHE_TIMEOUT: "120"
    OIDC_ALLOW_DUPLICATE_EMAILS: "false"
    OIDC_AUTH_REQUEST_EXTRA_PARAMS: "{}"
    OIDC_CREATE_USER: "false"
    OIDC_FALLBACK_TO_EMAIL_FOR_IDENTIFICATION: "true"
    OIDC_OP_JWKS_ENDPOINT: {{ .Values.authentication.oidc.jwks_uri | quote }}
    OIDC_OP_AUTHORIZATION_ENDPOINT: {{ .Values.authentication.oidc.authorization_endpoint | quote }}
    OIDC_OP_TOKEN_ENDPOINT: {{ .Values.authentication.oidc.token_endpoint | quote }}
    OIDC_OP_USER_ENDPOINT: {{ .Values.authentication.oidc.userinfo_endpoint | quote }}
    OIDC_OP_LOGOUT_ENDPOINT: {{ .Values.authentication.oidc.end_session_endpoint | quote }}
    OIDC_REDIRECT_ALLOWED_HOSTS: "[{{ $baseUrl }}]"
    OIDC_REDIRECT_REQUIRE_HTTPS: "true"
    OIDC_RP_CLIENT_ID: {{ .Values.authentication.client.docs.client_id | quote }}
    OIDC_RP_CLIENT_SECRET: {{ .Values.authentication.client.docs.client_secret | quote }}
    OIDC_RP_SIGN_ALGO: "RS256"
    OIDC_RP_SCOPES: "openid email"
    OIDC_STORE_ID_TOKEN: "true"
    OIDC_USE_NONCE: "true"
    OIDC_USERINFO_FULLNAME_FIELDS: "{{ .Values.authentication.oidc.claims.given_name }},{{ .Values.authentication.oidc.claims.family_name }}"
    OIDC_USERINFO_SHORTNAME_FIELD: {{ .Values.authentication.oidc.claims.display_name | quote }}
    PYTHONPATH: "/app"
    REDIS_URL: {{ $redisUrl | quote }}
    SENTRY_DSN: ""
    SESSION_COOKIE_AGE: "43200"
    SPECTACULAR_SETTINGS_ENABLE_DJANGO_DEPLOY_CHECK: "false"
    STORAGES_STATICFILES_BACKEND: "django.contrib.staticfiles.storage.StaticFilesStorage"
    THEME_CUSTOMIZATION_CACHE_TIMEOUT: "86400"
    THEME_CUSTOMIZATION_FILE_PATH: ""
    USER_OIDC_ESSENTIAL_CLAIMS: ""
    Y_PROVIDER_API_BASE_URL: "http://docs-y-provider:4444/api/"
    Y_PROVIDER_API_KEY: {{ .Values.application.docs.yProvider.key | quote }}
  themeCustomization:
    enabled: true
    fileContent: |
      {
        "translations": {
            "en": {
              "translation": {
                "Docs": "Mijn Bureau Docs",
                "New doc": "+"
              }
            }
          },
        "footer": {
          "default": {
            "logo": {
              "src": "/assets/icon-docs.svg",
              "width": "54px",
              "alt": "Docs Logo",
              "withTitle": true
            },
            "externalLinks": [
              {
                "label": "GitHub",
                "href": "https://github.com/suitenumerique/docs/"
              },
              {
                "label": "DINUM",
                "href": "https://www.numerique.gouv.fr/dinum/"
              },
              {
                "label": "ZenDiS",
                "href": "https://zendis.de/"
              },
              {
                "label": "BlockNote.js",
                "href": "https://www.blocknotejs.org/"
              }
            ],
            "bottomInformation": {
              "label": "Unless otherwise stated, all content on this site is under",
              "link": {
                "label": "licence etalab-2.0",
                "href": "https://github.com/etalab/licence-ouverte/blob/master/LO.md"
              }
            }
          },
          "en": {
            "legalLinks": [
              {
                "label": "Legal Notice",
                "href": "#"
              },
              {
                "label": "Personal data and cookies",
                "href": "#"
              },
              {
                "label": "Accessibility",
                "href": "#"
              }
            ],
            "bottomInformation": {
              "label": "Unless otherwise stated, all content on this site is under",
              "link": {
                "label": "licence MIT",
                "href": "https://github.com/suitenumerique/docs/blob/main/LICENSE"
              }
            }
          },
          "fr": {
            "legalLinks": [
              {
                "label": "Mentions légales",
                "href": "#"
              },
              {
                "label": "Données personnelles et cookies",
                "href": "#"
              },
              {
                "label": "Accessibilité",
                "href": "#"
              }
            ],
            "bottomInformation": {
              "label": "Sauf mention contraire, tout le contenu de ce site est sous",
              "link": {
                "label": "licence MIT",
                "href": "https://github.com/suitenumerique/docs/blob/main/LICENSE"
              }
            }
          },
          "de": {
            "legalLinks": [
              {
                "label": "Impressum",
                "href": "#"
              },
              {
                "label": "Personenbezogene Daten und Cookies",
                "href": "#"
              },
              {
                "label": "Barrierefreiheit",
                "href": "#"
              }
            ],
            "bottomInformation": {
              "label": "Sofern nicht anders angegeben, steht der gesamte Inhalt dieser Website unter",
              "link": {
                "label": "licence MIT",
                "href": "https://github.com/suitenumerique/docs/blob/main/LICENSE"
              }
            }
          },
          "nl": {
            "legalLinks": [
              {
                "label": "Wettelijke bepalingen",
                "href": "#"
              },
              {
                "label": "Persoonlijke gegevens en cookies",
                "href": "#"
              },
              {
                "label": "Toegankelijkheid",
                "href": "#"
              }
            ],
            "bottomInformation": {
              "label": "Tenzij anders vermeld, is alle inhoud van deze site ondergebracht onder",
              "link": {
                "label": "licence MIT",
                "href": "https://github.com/suitenumerique/docs/blob/main/LICENSE"
              }
            }
          }
        }
      }"
  celery:
    livenessProbe:
      enabled: false
    readinessProbe:
      enabled: false
    resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.docs.celery .Values.global.resourcesPreset | quote }}
    resources: {{ .Values.resource.docs.celery | toYaml | nindent 6 }}
    podSecurityContext: {{ .Values.security.default.podSecurityContext | toYaml | nindent 6 }}
    containerSecurityContext: {{ .Values.security.default.containerSecurityContext | toYaml | nindent 6 }}
    runtimeClassName: {{ .Values.cluster.runtimeClassName | quote }}
    autoscaling:
      hpa: {{ .Values.autoscaling.horizontal.docs.celery | toYaml | nindent 8 }}
      vpa: {{ .Values.autoscaling.vertical.docs.celery | toYaml | nindent 8 }}
    pdb: {{ .Values.pdb.docs.celery | toYaml | nindent 6 }}
    networkPolicy:
      extraEgress:
        # Database connectivity
        - ports:
            - port: {{ .Values.database.docs.port }}
              protocol: TCP
          {{- if .Values.database.docs.isInternal }}
          to:
            - podSelector:
                matchLabels:
                  {{- if eq (.Values.database.default.provider | default "bitnami") "cnpg" }}
                  cnpg.io/cluster: docs-cluster
                  role: primary
                  {{- else }}
                  app.kubernetes.io/name: postgresql
                  app.kubernetes.io/component: primary
                  {{- end }}
          {{- end }}
        # Redis connectivity
        - ports:
            - port: {{ .Values.cache.docs.port }}
              protocol: TCP
          {{- if .Values.cache.docs.isInternal }}
          to:
            - podSelector:
                matchLabels:
                  app.kubernetes.io/name: redis
                  app.kubernetes.io/component: master
          {{- end }}
        # MinIO connectivity
        - ports:
            - port: {{ .Values.objectstore.docs.port }}
              protocol: TCP
          {{- if .Values.objectstore.docs.isInternal }}
          to:
            - podSelector:
                matchLabels:
                  app.kubernetes.io/name: minio
          {{- end }}
    configuration:
      concurrency:
        min: 3
        max: 9

frontend:
  image:
    registry: {{(coalesce .Values.container.docs.registry .Values.container.default.registry) | quote }}
    repository: {{ .Values.container.docs.frontend.repository | quote }}
    tag: {{ .Values.container.docs.frontend.tag | quote }}
  replicaCount: 1
  resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.docs.frontend .Values.global.resourcesPreset | quote }}
  resources: {{ .Values.resource.docs.backend | toYaml | nindent 4 }}
  podSecurityContext: {{ .Values.security.default.podSecurityContext | toYaml | nindent 4 }}
  containerSecurityContext: {{ .Values.security.default.containerSecurityContext | toYaml | nindent 4 }}
  runtimeClassName: {{ .Values.cluster.runtimeClassName | quote }}
  pdb: {{ .Values.pdb.docs.frontend | toYaml | nindent 4 }}
  autoscaling:
    hpa: {{ .Values.autoscaling.horizontal.docs.frontend | toYaml | nindent 6 }}
    vpa: {{ .Values.autoscaling.vertical.docs.frontend | toYaml | nindent 6 }}
  configuration:
    publishAsMit: {{ .Values.application.docs.frontend.publishAsMit }}

docspec:
  image:
    registry: {{(coalesce .Values.container.docspec.registry .Values.container.default.registry) | quote }}
    repository: {{ .Values.container.docspec.repository | quote }}
    tag: {{ .Values.container.docspec.tag | quote }}
  replicaCount: 1
  resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.docs.docspec .Values.global.resourcesPreset | quote }}
  resources: {{ .Values.resource.docs.docspec | toYaml | nindent 4 }}
  podSecurityContext: {{ .Values.security.default.podSecurityContext | toYaml | nindent 4 }}
  containerSecurityContext: {{ .Values.security.default.containerSecurityContext | toYaml | nindent 4 }}
  runtimeClassName: {{ .Values.cluster.runtimeClassName | quote }}
  pdb: {{ .Values.pdb.docs.docspec | toYaml | nindent 4 }}
  autoscaling:
    hpa: {{ .Values.autoscaling.horizontal.docs.docspec | toYaml | nindent 6 }}

yProvider:
  image:
    registry: {{(coalesce .Values.container.docs.registry .Values.container.default.registry) | quote }}
    repository: {{ .Values.container.docs.yProvider.repository | quote }}
    tag: {{ .Values.container.docs.yProvider.tag | quote }}
  replicaCount: 1
  resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.docs.yProvider .Values.global.resourcesPreset | quote }}
  resources: {{ .Values.resource.docs.backend | toYaml | nindent 4 }}
  podSecurityContext: {{ .Values.security.default.podSecurityContext | toYaml | nindent 4 }}
  containerSecurityContext: {{ .Values.security.default.containerSecurityContext | toYaml | nindent 4 }}
  runtimeClassName: {{ .Values.cluster.runtimeClassName | quote }}
  pdb: {{ .Values.pdb.docs.yProvider | toYaml | nindent 4 }}
  autoscaling:
    hpa: {{ .Values.autoscaling.horizontal.docs.yProvider | toYaml | nindent 6 }}
    vpa: {{ .Values.autoscaling.vertical.docs.yProvider | toYaml | nindent 6 }}
  networkPolicy:
    extraEgress:
      # Database connectivity
      - ports:
          - port: {{ .Values.database.docs.port }}
            protocol: TCP
        {{- if .Values.database.docs.isInternal }}
        to:
          - podSelector:
              matchLabels:
                {{- if eq (.Values.database.default.provider | default "bitnami") "cnpg" }}
                cnpg.io/cluster: docs-cluster
                role: primary
                {{- else }}
                app.kubernetes.io/name: postgresql
                app.kubernetes.io/component: primary
                {{- end }}
        {{- end }}
      # Redis connectivity
      - ports:
          - port: {{ .Values.cache.docs.port }}
            protocol: TCP
        {{- if .Values.cache.docs.isInternal }}
        to:
          - podSelector:
              matchLabels:
                app.kubernetes.io/name: redis
                app.kubernetes.io/component: master
        {{- end }}
      # MinIO connectivity
      - ports:
          - port: {{ .Values.objectstore.docs.port }}
            protocol: TCP
        {{- if .Values.objectstore.docs.isInternal }}
        to:
          - podSelector:
              matchLabels:
                app.kubernetes.io/name: minio
        {{- end }}
      # Allow https egress for backend connection
      - ports:
          - port: 443
  configuration:
    api:
      key: {{ .Values.application.docs.yProvider.key }}
    collaboration:
      serverSecret: {{ .Values.application.docs.collaboration.secret }}

ingress:
  enabled: true
  hostname: {{ $hostname }}
  ingressClassName: {{ .Values.cluster.ingress.className | quote }}
  annotations:
    {{- if .Values.cluster.ingress.annotations }}
    {{ .Values.cluster.ingress.annotations | toYaml | nindent 4 }}
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "nginx" }}
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
    {{- else if eq .Values.cluster.ingress.type "haproxy-openshift" }}
    haproxy.router.openshift.io/hsts_header: max-age=31536000;includeSubDomains;preload
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "traefik" }}
    traefik.ingress.kubernetes.io/router.middlewares: '{{ .Release.Namespace }}-hsts-header@kubernetescrd'
    {{- end }}
  tls: {{ .Values.global.tls.enabled | default true }}
  selfSigned: {{ and .Values.global.tls.enabled .Values.global.tls.selfSigned | default false }}
  extraTls: {{ .Values.tls.docs | toYaml | nindent 4 }}

ingressAdmin:
  enabled: true
  hostname: {{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}
  ingressClassName: {{ .Values.cluster.ingress.className | quote }}
  annotations:
    {{- if .Values.cluster.ingress.annotations }}
    {{ .Values.cluster.ingress.annotations | toYaml | nindent 4 }}
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "nginx" }}
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
    {{- else if eq .Values.cluster.ingress.type "haproxy-openshift" }}
    haproxy.router.openshift.io/hsts_header: max-age=31536000;includeSubDomains;preload
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "traefik" }}
    traefik.ingress.kubernetes.io/router.middlewares: '{{ .Release.Namespace }}-hsts-header@kubernetescrd'
    {{- end }}

  tls: {{ .Values.global.tls.enabled | default true }}
  selfSigned: {{ and .Values.global.tls.enabled .Values.global.tls.selfSigned | default false }}
  extraTls: {{ .Values.tls.docs | toYaml | nindent 4 }}

ingressCollaborationApi:
  enabled: true
  hostname: {{ $hostname }}
  ingressClassName: {{ .Values.cluster.ingress.className | quote }}
  annotations:
    {{- if .Values.cluster.ingress.annotations }}
    {{ .Values.cluster.ingress.annotations | toYaml | nindent 4 }}
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "nginx" }}
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
    {{- else if eq .Values.cluster.ingress.type "haproxy-openshift" }}
    haproxy.router.openshift.io/hsts_header: max-age=31536000;includeSubDomains;preload
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "traefik" }}
    traefik.ingress.kubernetes.io/router.middlewares: '{{ .Release.Namespace }}-hsts-header@kubernetescrd'
    {{- end }}
  tls: {{ .Values.global.tls.enabled | default true }}
  selfSigned: {{ and .Values.global.tls.enabled .Values.global.tls.selfSigned | default false }}
  extraTls: {{ .Values.tls.docs | toYaml | nindent 4 }}

ingressCollaborationWS:
  enabled: true
  hostname: {{ $hostname }}
  ingressClassName: {{ .Values.cluster.ingress.className | quote }}
  annotations:
    {{- if .Values.cluster.ingress.annotations }}
    {{ .Values.cluster.ingress.annotations | toYaml | nindent 4 }}
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "nginx" }}
    nginx.ingress.kubernetes.io/enable-websocket: "true"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "86400"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "86400"
    nginx.ingress.kubernetes.io/upstream-hash-by: $arg_room
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
    {{- else if eq .Values.cluster.ingress.type "haproxy-openshift" }}
    haproxy.router.openshift.io/timeout-tunnel: "86400"
    haproxy.router.openshift.io/hsts_header: max-age=31536000;includeSubDomains;preload
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "traefik" }}
    traefik.ingress.kubernetes.io/router.middlewares: '{{ .Release.Namespace }}-hsts-header@kubernetescrd'
    traefik.ingress.kubernetes.io/service.serverstransport: {{ .Release.Namespace }}-docs-transport@kubernetescrd
    traefik.ingress.kubernetes.io/service.sticky.cookie: "true"
    traefik.ingress.kubernetes.io/service.sticky.cookie.name: "DOCS_STICKY"
    {{- end }}
  tls: {{ .Values.global.tls.enabled | default true }}
  selfSigned: {{ and .Values.global.tls.enabled .Values.global.tls.selfSigned | default false }}
  extraTls: {{ .Values.tls.docs | toYaml | nindent 4 }}

ingressCollaborationsApi:
  enabled: true
  hostname: {{ $hostname }}
  ingressClassName: {{ .Values.cluster.ingress.className | quote }}
  annotations:
    {{- if .Values.cluster.ingress.annotations }}
    {{ .Values.cluster.ingress.annotations | toYaml | nindent 4 }}
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "nginx" }}
    nginx.ingress.kubernetes.io/upstream-hash-by: $arg_room
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
    {{- else if eq .Values.cluster.ingress.type "haproxy-openshift" }}
    haproxy.router.openshift.io/hsts_header: max-age=31536000;includeSubDomains;preload
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "traefik" }}
    traefik.ingress.kubernetes.io/router.middlewares: '{{ .Release.Namespace }}-hsts-header@kubernetescrd'
    traefik.ingress.kubernetes.io/service.sticky.cookie: "true"
    traefik.ingress.kubernetes.io/service.sticky.cookie.name: "DOCS_STICKY"
    {{- end }}
  tls: {{ .Values.global.tls.enabled | default true }}
  selfSigned: {{ and .Values.global.tls.enabled .Values.global.tls.selfSigned | default false }}
  extraTls: {{ .Values.tls.docs | toYaml | nindent 4 }}

ingressMedia:
  enabled: true
  pathType: Prefix
  hostname: {{ $hostname }}
  ingressClassName: {{ .Values.cluster.ingress.className | quote }}
  path: /media
  extraPaths:
    - path: /media-auth
      pathType: Prefix
      backend:
        service:
          name: docs-nginx
          port:
            name: http
  annotations:
    {{- if .Values.cluster.ingress.annotations }}
    {{ .Values.cluster.ingress.annotations | toYaml | nindent 4 }}
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "nginx" }}
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header Content-Security-Policy "default-src 'none'" always;
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
    {{- else if eq .Values.cluster.ingress.type "haproxy-openshift" }}
    haproxy.router.openshift.io/hsts_header: max-age=31536000;includeSubDomains;preload
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "traefik" }}
    traefik.ingress.kubernetes.io/router.middlewares: '{{ .Release.Namespace }}-hsts-header@kubernetescrd'
    {{- end }}
  tls: {{ .Values.global.tls.enabled | default true }}
  selfSigned: {{ and .Values.global.tls.enabled .Values.global.tls.selfSigned | default false }}
  extraTls: {{ .Values.tls.docs | toYaml | nindent 4 }}
