container:
  default:
    registry: ~
    imagePullSecret: ~
  ollama:
    registry: "docker.io"
    repository: "ollama/ollama"
    tag: "0.24.0"
    imagePullSecret: ~
  keycloak:
    registry: "docker.io"
    repository: bitnamilegacy/keycloak
    tag: 26.3.3-debian-12-r0
    imagePullSecret: ~
  keycloak_cli:
    registry: "docker.io"
    repository: bitnamilegacy/keycloak-config-cli
    tag: 6.4.0-debian-12-r9
    imagePullSecret: ~
  grist:
    registry: "registry-1.docker.io"
    repository: "gristlabs/grist"
    tag: "1.7.14"
    imagePullSecret: ~
  minio:
    registry: "registry-1.docker.io"
    repository: "bitnamilegacy/minio"
    tag: "2025.7.23-debian-12-r5"
    imagePullSecret: ~
  minio_shell:
    registry: "registry-1.docker.io"
    repository: "bitnamilegacy/os-shell"
    tag: "12-debian-12-r51"
    imagePullSecret: ~
  minio_console:
    registry: "registry-1.docker.io"
    repository: "bitnamilegacy/minio-object-browser"
    tag: "2.0.2-debian-12-r4"
    imagePullSecret: ~
  postgres:
    registry: "registry-1.docker.io"
    repository: "bitnamilegacy/postgresql"
    tag: "17.6.0-debian-12-r4"
    imagePullSecret: ~
  postgres_exporter:
    registry: "registry-1.docker.io"
    repository: "bitnamilegacy/postgres-exporter"
    tag: "0.17.1-debian-12-r9"
    imagePullSecret: ~
  redis:
    registry: "registry-1.docker.io"
    repository: "bitnamilegacy/redis"
    tag: "8.2.1-debian-12-r0"
    imagePullSecret: ~
  redis_exporter:
    registry: "registry-1.docker.io"
    repository: "bitnamilegacy/redis-exporter"
    tag: "1.76.0-debian-12-r0"
    imagePullSecret: ~
  elementweb:
    registry: "registry-1.docker.io"
    repository: "vectorim/element-web"
    tag: "v1.12.20"
    imagePullSecret: ~
  synapse:
    registry: "registry-1.docker.io"
    repository: "matrixdotorg/synapse"
    tag: "v1.153.0"
    imagePullSecret: ~
  collabora:
    registry: "registry-1.docker.io"
    repository: "collabora/code"
    tag: "25.04.9.4.1"
    imagePullSecret: ~
  nextcloud:
    registry: "registry-1.docker.io"
    repository: "library/nextcloud"
    tag: "33.0.4-apache"
    imagePullSecret: ~
  osShell:
    registry: "registry-1.docker.io"
    repository: "bitnamilegacy/os-shell"
    tag: "12-debian-12-r51"
    imagePullSecret: ~
  openproject:
    imagePullSecret: ~
    registry: "ghcr.io"
    openproject:
      repository: "minbzk/mijnbureau-openproject"
      tag: "v16.6.3"
    hocuspocus:
      repository: "openproject/hocuspocus"
      tag: "main-defdb238"
  livekit_server:
    registry: "registry-1.docker.io"
    repository: "livekit/livekit-server"
    tag: "v1.12.0"
    imagePullSecret: ~
  kubectl:
    registry: docker.io
    repository: bitnamilegacy/kubectl
    tag: 1.33.4
    imagePullSecret: ~
  meet_backend:
    registry: "registry-1.docker.io"
    repository: "lasuite/meet-backend"
    tag: "v1.19.0"
    imagePullSecret: ~
  meet_frontend:
    registry: "registry-1.docker.io"
    repository: "lasuite/meet-frontend"
    tag: "v1.19.0"
    imagePullSecret: ~
  conversations_backend:
    registry: "registry-1.docker.io"
    repository: "lasuite/conversations-backend"
    tag: "v0.0.16"
    imagePullSecret: ~
  conversations_frontend:
    registry: "registry-1.docker.io"
    repository: "lasuite/conversations-frontend"
    tag: "v0.0.16"
  drive_backend:
    registry: "registry-1.docker.io"
    repository: "lasuite/drive-backend"
    tag: "v0.18.0"
    imagePullSecret: ~
  drive_frontend:
    registry: "registry-1.docker.io"
    repository: "lasuite/drive-frontend"
    tag: "v0.18.0"
    imagePullSecret: ~
  nginx:
    registry: docker.io
    repository: bitnamilegacy/nginx
    tag: 1.29.1
    imagePullSecret: ~
  docspec:
    imagePullSecret: ~
    registry: "ghcr.io"
    repository: "docspecio/api"
    tag: "2.6.3"
  docs:
    imagePullSecret: ~
    registry: "registry-1.docker.io"
    backend:
      repository: "lasuite/impress-backend"
      tag: "v5.1.0"
    frontend:
      repository: "lasuite/impress-frontend"
      tag: "v5.1.0"
    yProvider:
      repository: "lasuite/impress-y-provider"
      tag: "v5.1.0"
  bureaublad:
    imagePullSecret: ~
    registry: "ghcr.io"
    backend:
      repository: "minbzk/bureaublad-api"
      tag: "v0.9.3"
    frontend:
      repository: "minbzk/bureaublad-frontend"
      tag: "v0.6.1"
  clamav:
    registry: "registry-1.docker.io"
    repository: "clamav/clamav"
    tag: "1.5.2"
    imagePullSecret: ~
  cnpg_postgres:
    registry: "ghcr.io"
    repository: "cloudnative-pg/postgresql"
    tag: "17.9-standard-bookworm"
    imagePullSecret: ~
